<div class="container">
    <h1>Cartão de Crédito</h1>
    <h3 class="data-card">
      Dados do Cartão
    </h3>
    <div class="data-credit">
      <div class="datas-card">
        <label for="number-card"><p>Número do Cartão</p></label>
        <input type="number" id="number-card" required>
      </div>
      <div class="datas-card">
        <label for="name"><p>Nome do Títular</p></label>
        <input type="text" id="name" required>
      </div>
      <div class="datas-card">
        <label for="date"><p>Vencimento</p></label>
        <input type="month" id="date" required>
      </div>
      <div class="datas-card">
        <label for="cvv"><p>CVV</p></label>
        <input type="number" id="cvv" required>
      </div>
    </div>

    <div class="data-payment">
      <h3>Dados de Pagamento</h3>
      <label for="installment"><p>Parcelamento</p></label>
      <select name="installment" id="installment">
        <option value="">1x</option>
        <option value="">2x</option>
        <option value="">3x</option>
        <option value="">4x</option>
        <option value="">5x</option>
        <option value="">6x</option>
      </select>
    </div>
</div>

